# Python
__pycache__/
*.pyc
*.pyo
*.pyd
.env
venv/
.env.*
*.env

# ML/DS
mlartifacts/
mlruns/
*.joblib

# Jupyter
.ipynb_checkpoints

# IDEs
.vscode/
.idea/

# OS
.DS_Store

# Railway/Docker
*.log
railway.json
.dockerignore